.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.auth-container input,
.auth-container select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-container input[type="text"],
.auth-container input[type="password"],
.auth-container input[type="email"] {
  width: 90%;
  box-sizing: border-box;
}


.auth-container select {
  width: 100%;
  box-sizing: border-box;
}

.auth-container button {
  padding: 10px;
  background-image: linear-gradient(to left,#ff0078,#f6efa7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.auth-container button:hover {
  background-image: linear-gradient(to right, darkblue,teal);
}

.auth-container span {
  right: 10px;
  top: 35px;
  cursor: pointer;
  font-size: 18px;
  margin-left:10px;
}

.auth-container p {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
}

.auth-container p:hover {
  text-decoration: underline;
}

.auth-container .error {
  color: red;
  font-size: 14px;
  margin-top: -12px;
  margin-bottom: 12px;
}

.webcam-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.webcam-container canvas {
    position: absolute;
}
